#Compiled class file
.class

# Log file
.log

# Package files
*.jar
*.war
*.zip
*.nar
*.tar.gz
*.rar
*.ear

# virtual machine crash logs
hs_err_pid*

# maven
target/
.mvn/wrapper/maven-wrapper.jar

# Spring tool suite
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# VS Code
.vscode/
